Raspo-Stempelkarten/Raspo-Stempelkarten-Web/wwwroot/lib
Raspo-Stempelkarten/.idea
Raspo-Stempelkarten/Raspo-Stempelkarten-Backend/docs/Authenticate cloud-iam/Authenticate.bru
Raspo-Stempelkarten/Raspo-Stempelkarten-Backend/appsettings.Development.json
