services:
  stampcard-ui:
    image: ghcr.io/qed87/raspo-uetersen/ui:latest
    hostname: stampcard-ui    
    depends_on:
      stampcard-backend:
        condition: service_started
        required: true
    env_file: "stampcard-ui.env"
    restart: always
    ports:
      - mode: host
        host_ip: 0.0.0.0
        target: 8080
        published: "5000"
        protocol: tcp
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "3"
    volumes:
      - ./config/Stampcard.UI/appsettings.json:/Stampcard.Backend/appsettings.json
    networks:
      - proxy-net

  stampcard-backend:
    image: ghcr.io/qed87/raspo-uetersen/backend:latest
    hostname: stampcard-backend
    restart: always
    env_file: "stampcard-backend.env"
    depends_on:
      kurrentdb:
        condition: service_started
        required: true
    ports:
      - mode: host
        host_ip: 0.0.0.0
        target: 8080
        published: "5001"
        protocol: tcp
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "3"
    volumes:
      - ./config/Stampcard.Backend/appsettings.json:/app/appsettings.json
      - ./Stampcard.Backend/Logs/:/app/Logs/
    networks:
      - proxy-net

  kurrentdb:
    image: docker.kurrent.io/kurrent-latest/kurrentdb:latest
    hostname: kurrentdb
    environment:
      - KURRENTDB_CLUSTER_SIZE=1
      - KURRENTDB_RUN_PROJECTIONS=All
      - KURRENTDB_START_STANDARD_PROJECTIONS=true
      - KURRENTDB_NODE_PORT=2113
      - KURRENTDB_INSECURE=true
      - KURRENTDB_ENABLE_ATOM_PUB_OVER_HTTP=true
    ports:
      - mode: host
        host_ip: 0.0.0.0
        target: 2113
        published: "2113"
        protocol: tcp
    volumes:
      - type: volume
        source: kurrentdb-volume-data
        target: /var/lib/kurrentdb
      - type: volume
        source: kurrentdb-volume-logs
        target: /var/log/kurrentdb
    networks:
      - proxy-net
      
volumes:
  kurrentdb-volume-data:
  kurrentdb-volume-logs:

networks:
  proxy-net:
    driver: bridge

