@page
@model Stampcard.UI.Pages.LogoutModel

@{
    ViewData["Title"] = "Aufwiedersehn!";
}

<img src="~/img/football-bye-bye.jpg" alt="goodbye"> 
    Bild von <a href="https://pixabay.com/de/users/garten-gg-201217/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6359085">G.C.</a> auf <a href="https://pixabay.com/de//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6359085">Pixabay</a>
<img/>