@page "/Teams/{Team}/Members"
@model Members
@tagHelperPrefix x:

@{
    ViewData["Title"] = "Spieler: " + Model.Team;
}

<h1>Spielerverwaltung: @Model.Team</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Vorname</th>
        <th scope="col">Nachname</th>
        <th scope="col">Geburtsdatum</th>
        <th scope="col">Geburtsort</th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.Items.Count; i++)
    {
        var teamId = Model.Items[i].Id;
        <tr>
            <td>@(i+1)</td>
            <td>
                <x:input asp-for="Items[i].Id" type="hidden" />
                <x:label asp-for="Items[i].FirstName"/>
                <x:input asp-for="Items[i].FirstName"/>
            </td>
            <td>
                <x:label asp-for="Items[i].Surname" />
                <x:input asp-for="Items[i].Surname"/>
            </td>
            <td>
                <x:label asp-for="Items[i].Birthdate" />
                <x:input asp-for="Items[i].Birthdate"/>
            </td>
            <td>
                <x:label asp-for="Items[i].Birthplace" />
                <x:input asp-for="Items[i].Birthplace"/>
            </td>
            <td>
                <x:a class="btn btn-dark" asp-route-id="@teamId" asp-page-handler="delete">
                    <i class="bi bi-trash3-fill">Spieler löschen</i>
                </x:a>
            </td>
        </tr>
    }
    </tbody>
</table>

<x:form asp-area="" asp-page="" method="post">
    <div class="row g-3">
        <div class="col-auto">
            <x:label asp-for="NewMember.FirstName" class="form-label">Vorname</x:label>
            <x:input asp-for="NewMember.FirstName" class="form-control"/>
        </div>
        <div class="col-auto">
            <x:label asp-for="NewMember.Surname" class="form-label">Nachname</x:label>
            <x:input asp-for="NewMember.Surname" class="form-control"/>
        </div>
        <div class="col-auto">
            <x:label asp-for="NewMember.Birthdate" class="form-label">Geburtsjahr</x:label>
            <x:input asp-for="NewMember.Birthdate" class="form-control"/>
        </div>
        <div class="col-auto">
            <x:label asp-for="NewMember.Birthplace" class="form-label">Geburtsort</x:label>
            <x:input asp-for="NewMember.Birthplace" class="form-control"/>
        </div>
        <div class="col-auto align-baseline">
            <button class="btn-primary btn">Anlegen</button>
        </div>
    </div>
</x:form>