@page
@model TeamOverview

@{
    ViewData["Title"] = "Team Übersicht";
}

<h1>Team Übersicht</h1>

<div class="toast position-fixed top-0 end-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            Datensatz wurde erfolgreich gelöscht.
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Team Name</th>
    </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < Model.Teams.Count; i++)
    {
        var team = Model.Teams[i];
        <tr>
            <th scope="row">@(i+1)</th>
            <td>@team</td>
            <td>
                <x:button class="btn btn-light" asp-route-id="@team">
                    <i class="bi bi-pen-fill">Bearbeiten</i>
                </x:button>
            </td>
            <td>
                <x:button class="btn btn-light" asp-route-id="@team">
                    <i class="bi bi-trash3-fill">Löschen</i>
                </x:button>
            </td>
        </tr>
    }
    </tbody>
</table>

<x:form asp-page="/TeamOverview" method="post">
    <div class="mb-3">
        <x:label asp-for="BirthYear" class="form-label" >Geburtsjahr</x:label>
        <x:input asp-for="BirthYear" class="form-control"/>
        <button class="btn-primary btn">Anlegen</button>
    </div>
    
</x:form>

