@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" title="Manage">@User.Identity!.Name</a>
    </li>
    <li class="nav-item">
        <x:form class="form-inline" asp-area="" asp-page="/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </x:form>
    </li>
</ul>