@page "/stampcards/{Id}/edit"
@using System.Web
@using Raspo.StampCard.Web.Services

@inject StampCardService StampCardClient
@inject NavigationManager NavigationManager

<h3>Stempelkarte bearbeiten</h3>

<StampCardForm Model="@StampModel" OnValidSubmit="SubmitStampCard" />

<div class="mt-3">
    <button type="button" class="btn-primary col-1" @onclick="NavigateBack"><Icon Name="IconName.ArrowLeft"/> Zurück</button>
</div>

@code {
    [SupplyParameterFromQuery, Parameter]
    public required string Team { get; set; }
    
    [SupplyParameterFromQuery, Parameter]
    public required string Season { get; set; }
    
    public StampCard StampModel { get; set; } = new ();
    
    [Parameter]
    public string Id { get; set; }
    
    protected override async Task OnParametersSetAsync()
    {
        var stampCard = await StampCardClient.GetStampCardById(
            Season,
            Team,
            Guid.Parse(Id));
        StampModel = new StampCard
        {
            Id = stampCard!.Id.ToString(),
            Season = HttpUtility.UrlDecode(Season),
            Team = HttpUtility.UrlDecode(Team),
            Recipient = stampCard.Recipient,
            MinStamps = stampCard.MaxStamps,
            MaxStamps = stampCard.MaxStamps,
            Owners = stampCard.Owners.ToHashSet()
        };
    }

    private void NavigateBack()
    {
        NavigationManager.NavigateTo(NavigationManager.HistoryEntryState ?? "/");
    }

    private async Task SubmitStampCard(Action<string> reportError)
    {
        try
        {
            var response = await StampCardClient.UpdateStamp(
                Guid.Parse(StampModel.Id),
                HttpUtility.UrlEncode(StampModel.Season),
                HttpUtility.UrlEncode(StampModel.Team),
                new
                {
                    StampModel.Recipient, 
                    StampModel.MaxStamps, 
                    StampModel.MinStamps, 
                    AdditionalOwners = StampModel.Owners
                });
            if (response.IsSuccess)
            {
                NavigationManager.NavigateTo("/stampcards", true);
            }
            else
            {
                reportError(
                    string.Join(
                        Environment.NewLine, 
                        response.Errors.Select(error => error.Message)));
            }
        }
        catch(Exception ex)
        {
            reportError(ex.Message);
        }
    }
}