@page "/stampcards/add"
@using System.Web
@using Raspo.StampCard.Web.Services
@inject StampCardService StampCardClient
@inject NavigationManager NavigationManager

<h3>Stempelkarte hinzufügen</h3>

<StampCardForm Model="@StampModel" OnValidSubmit="SubmitStampCard" />

<div class="mt-3">
    <button type="button" class="btn-primary col-1" @onclick="NavigateBack"><Icon Name="IconName.ArrowLeft"/> Zurück</button>
</div>

@code {
    [SupplyParameterFromQuery, Parameter]
    public required string Team { get; set; }
    
    [SupplyParameterFromQuery, Parameter]
    public required string Season { get; set; }

    public StampCard StampModel { get; set; } = null!;
    
    protected override Task OnParametersSetAsync()
    {
        StampModel = new StampCard
        {
            Season = HttpUtility.UrlDecode(Season),
            Team = HttpUtility.UrlDecode(Team)
        };
        return Task.CompletedTask;
    }

    private void NavigateBack()
    {
        NavigationManager.NavigateTo(NavigationManager.HistoryEntryState ?? "/");
    }

    private async Task SubmitStampCard(Action<string> reportError)
    {
        try
        {
            var response = await StampCardClient.CreateStampCard(
                HttpUtility.UrlEncode(StampModel.Season),
                HttpUtility.UrlEncode(StampModel.Team),
                new
                {
                    StampModel.Recipient, 
                    StampModel.MaxStamps, 
                    StampModel.MinStamps, 
                    AdditionalOwners = StampModel.Owners
                });
            if (response.IsSuccess)
            {
                NavigationManager.NavigateTo("/stampcards", true);
            }
            else
            {
                reportError(
                    string.Join(
                        Environment.NewLine, 
                        response.Errors.Select(error => error.Message)));
            }
        }
        catch(Exception ex)
        {
            reportError(ex.Message);
        }
    }
}